name: CI

on:
  push:
    paths:
      - "olivetti.el"
      - "**/build.yml"
  pull_request:
    paths:
      - "olivetti.el"
      - "**/build.yml"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emacs_version:
          - 24.4
          - 24.5
          - 25.1
          - 25.2
          - 25.3
          - 26.1
          - 26.2
          - 26.3
          - 27.1
          - snapshot
    steps:
      - uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs_version }}
      - uses: actions/checkout@master
      - name: Run package-lint
        uses: leotaku/elisp-check@master
        with:
          file: "olivetti.el"
          ignore_warnings: true
          check: package-lint
      - name: Run byte-compile
        uses: leotaku/elisp-check@master
        with:
          file: "olivetti.el"
          ignore_warnings: true
          check: byte-compile
